.w-20{
width: 20px;
}
.w-25{
    width: 25px;
}
.w-30{
    width: 30px;
}
.h-20{
    height: 20px;
}
.h-25{
    height: 25px;
}
.h-30{
    height: 30px;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}

